#header {
    background-color: #119966;
    color: white;
    font-weight: bold;
    padding: 1em 2em;
}

#below-header {
    height: 100%;
}

#sidebar {
    padding: 1em;
    box-shadow: 1px 0 4px rgba(200, 200, 200, 0.8);
}

.fd-table td {
    text-align: right
}


.mono {
    font-family: monospace;
}